.container{
    font-family: "lucida",sans-serif;
    margin:0;
    background:#fbfbfc;
    box-sizing: border-box;

}

.header{
    display:flex;
    background:#1f2937;
    height:70px;
}

.header-logo{
    color:#f9faf8;
    font-size:24px;
    text-align: center;
    width:50%;
}

.header-nav{
    width:50%;
    text-align: center;
     
}

.header-nav a{
    padding-right:5px;
    color:#f9faf8;
    font-size:18px;
    text-decoration: none;
}

.main-description{
    display:flex;
    justify-content:center;
    background:#1f2937;
    padding:90px;
    gap:40px;
}

.main-description-1{
    margin-right: 50px;;
}

.main-description-1 h2{
font-size:48px;
font-weight: bold;
color:#f9faf8;
}

.main-description-1 p{
    font-size:24px;
    font-weight: bold;
    color:#e5e7eb;
    }

.main-image img{
    width:100%;
    height:370px;
    object-fit:contain;
}

.btn-signup{
width:80px;
background: #3882f6;
border-radius: 5px;
padding-top:8px;
padding-bottom: 8px;
color:white;
font-size:10px;
font-weight:bold;

}

.content{

    background:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

.content-heading{
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
}

.content-images{
    display:flex;
    flex-wrap:wrap;
    gap:40px;
    justify-content: center;
    margin-bottom:100px;
}



.content-images img{
    border: 3px solid #3882f6; 
    width:100px;
    height:100px;
    border-radius: 10px;

}

.quote{
    background:#e5e7eb;
    display:flex;
    flex-direction: column;
    
    
}

.quote p{
    font-size:36px;
    font-style: italic;
    font-weight:light;
    color:#1f2937;
    text-align: justify;
    margin:auto;
    width:800px;
    padding:20px;
    

}
.quote b{
    text-align: right;
    width:800px;
    margin:auto;
    padding:20px;
}


.signup{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    margin:40px;
    border-radius: 5px;


}

.signup-content h5{
    color:white;
    padding-bottom:0px;
    margin-bottom:0px;

}

.signup-content p{
    padding:0px;
    margin:10px 0px 10px 0px;
    color:white;

}

.btn{
    width:80px;
    background: #3882f6;
    border-radius: 5px;
    padding-top:8px;
    padding-bottom: 8px;
    color:white;
    font-size:15px;
    font-weight:bold;
    border:2px solid white;

}


footer{
    
    background:#1f2937;
    height: 60px;
}
footer p{
    margin:0;
    padding-top:20px;
    color:white;
    text-align:center;
}
